/*底部*/
footer{
    float: left;
    width: 980px;
    height: 170px;
    margin-top: 30px;
    margin-left: 180px;
}
.footer_top{
    font-size: 14px;
    margin-top: 30px;
    margin-left: 70px;
}
.footer_line{
    width: 980px;
    border-bottom:black 1px solid;
}
.footer_center  p{
    font-size: 14px;
    float: left;
   text-align: center;
    width: 990px;
    margin: 0;
    padding: 3px 0;
    font-weight: bolder;
}

a{
    color: #ff5108;
    text-decoration: none;
}
a:hover{
    color: mediumblue;
}