.mytheme-popover-mask{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(145, 145, 145, 0.47);
}
.mytheme-popover{
    display: none;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 50%;
    height: 60%;
    background-color: rgba(255, 133, 53, 0.71);
}
.mytheme-popover table{
    font-size: 16px;
    text-align: center;
    margin: 50px auto;
    width: 90%;
    height: 60%;
    border-top: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
}
.mytheme-popover table td{
    padding: 5px;
    height: 40px;
}
#save-addr{
    float: left;
    margin-left: 40%;
}
#opt-addr{
    float: left;
    margin: 10px 60px 0 0;
}
#opt-addr-info{
    float: left;
    margin: 15px 20px 0 0;
}